.adiv {
    position: relative;
}
.whiteBack {
    width: 350px;
    height: 600px;
    background-color: white;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: 50px;
    border-radius: 20px;
    border: 5px solid rgba(255, 130, 130, 1);
}
.map {
    width: 414px;
    height: 696px;
    bottom: 0;
}
.name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    top: 100px;
    color: #ff8282;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 28px;
}
.hensin1 {
    position: absolute;
    top: 200px;
    color: #ff8282;
    border: 3px solid #ff8282;
    border-radius: 50px;
    left: 60px;
    width: 170px;
    height: 35px;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 24px;
    justify-content: center;
    text-align: center;
}
.hensin2 {
    position: absolute;
    top: 280px;
    color: #ff8282;
    border: 3px solid #ff8282;
    border-radius: 50px;
    left: 60px;
    width: 170px;
    height: 35px;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 24px;
    justify-content: center;
    text-align: center;
}
.hensin3 {
    position: absolute;
    top: 360px;
    color: #ff8282;
    border: 3px solid #ff8282;
    border-radius: 50px;
    left: 60px;
    width: 170px;
    height: 35px;
    align-items: center;
    display: flex;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 24px;
    justify-content: center;
    text-align: center;
}
.close {
    position: absolute;
    bottom: 23px;
    font-size: 50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    color: white;
    background-color: #ff8282;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
}