.container{
    position:fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top:70%;
    left:50%;
    transform: translate(-50%, 50%);
    width:350px;
    height:80px;
    background-color: white;
    border-radius: 50px;
}
  .normalSvg {
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  .selectedSvg {
    cursor: pointer;
    width: 80px;
    height: 80px;
  }
  