.whiteBack {
    width: 350px;
    height: 580px;
    margin: auto;
    margin-top:50px;
    border: 3px solid #ff8282;
    border-radius: 20px;
    background-color: white;
    position: relative;
}
.whiteBack::-webkit-scrollbar {
    display: none;
}
.close {
    position: absolute;
    opacity: 1;
    bottom: 0px;
    left:50%;
    transform: translate(-50%, 50%);
    font-size: 50px;
    color: white;
    background-color: #ff8282;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    color: rgba(255, 130, 130, 1.0);
    position: absolute;
    top: 0;
    font-size: 28px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
.icon {
    width: 50px;
    left:10px;
    top: 40px;
    transform: translateY(-50%);
    position: absolute;
}
.border {
    margin: 90px auto 0 auto;
    overflow: scroll;
    height: 450px;
}
.contents {
    border: 3px solid #ff8282;
    margin: 20px auto 0 auto;
    height: 75px;
    border-radius: 20px;
    width: 300px;
    position: relative;
    
}
.innerContents {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    right: 5px;
}
.date {
    opacity: 1;
    font-size: 20px;
    color: #ff8282;
    font-weight: bold;
}
.plan {
    opacity: 1;
    color: #ff8282;
    font-size: 18px;
    font-weight: bold;
}