<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <h2>User</h2>
        name<input type="text" v-model="user_name"><br>
        pass<input type="text" v-model="user_pass"><br>
        mail<input type="text" v-model="user_mail"><br><br>
        <input type="button" value="Login" @click="loginchk"><br>
        <input type="button" value="Create" @click="create_user"><br>
        <br>
    </div>
    <!-- vue.jsのCDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- JSONを扱うためのCDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JSの読み込み -->
    <script src="./test.js"></script>
</body>

</html>