.frend_area{
  width: 360px;
  height: 370px;
  border: 2px solid #FF8282;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 20px;
  
}
.line1{
  border-bottom: 1px solid #FF8282;
  width: 300px;
  text-align: center;
  margin-top: 33px;
  margin-right: auto;
  margin-left: auto;
  font-size: 25px;
  font-weight: bold;
  color: #FF8282;
}
.hyouzi{
  width: 360px;
  height: 260px;
  overflow: auto;
}
.line2{
  width: 300px;
  text-align: center;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  font-size: 22px;
  font-weight: bold;
  color: #FF8282;
}

.tuika_btn{
  background-color: white;
  border:2px solid #FF8282;
  border-radius: 30px;
  color: #FF8282;
  width: 140px;
  height: 43px;
  font-size: 24px;
  /* margin-top: 30px;
  margin-right: auto;
  margin-left: auto; */
  position: fixed;
  bottom:130px;
  left: 137px;
}
.input{
  border: none;
  border-bottom: 1px solid #FF8282;
  width: 280px;
  font-size: 20px;
  margin-top: 90px;
}
.freinput_area{
  text-align: center;
}
.btn_area{
  text-align: center;
}
.btn{
  background-color: white;
  border:2px solid #45D700;
  border-radius: 30px;
  color: #45D700;
  width: 140px;
  height: 43px;
  font-size: 24px;
  position: fixed;
  bottom:130px;
  left: 137px;
}

  .kiken_area {
    padding: 10px;
    margin: 13px;
    position:absolute;
    width: 350px;
    height: 835px;
    border: 8px dashed #773d50;
  }
  .conteinaer{
    position: relative;
  }

  
