.saku_area{
  width: 360px;
  height: 370px;
  border: 2px solid #FF8282;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 20px;
}
.input_area{
  text-align: center;
}
.input{
  border: none;
  border-bottom: 1px solid #FF8282;
  width: 280px;
  font-size: 20px;
  margin-top: 65px;
}
.inputTime{
  border: none;
  border-bottom: 1px solid #FF8282;
  width: 280px;
  font-size: 20px;
  margin-top: 25px;
}
.select{
  border: none;
  border-bottom: 1px solid #FF8282;
  width: 280px;
  font-size: 20px;
  margin-top: 25px;
}
.op{
  background-color: #FAE6E6;
  color: #705454;
}
.btn_area{
  text-align: center;
}
.btn{
  position:absolute;
  left:50%;
  transform: translate(-50%, -50%);
  top:750px;
  background-color: white;
  border:2px solid #45D700;
  border-radius: 30px;
  color: #45D700;
  width: 140px;
  height: 43px;
  font-size: 24px;
}