.top{
  position: fixed;
  bottom: 30px;
  left:170px;
}
.circle2 {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background-color: #FF8282;
  position: relative;
}
.map{
  filter: brightness(0) saturate(100%) invert(100%);
  position: absolute;
  top: 6px;
  left: 12px;
}