.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 80px;
    width:190px;
    height: 40px;
    border-radius: 50px;
  }
.time{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}