  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width:230px;
    height: 60px;
    /* background-color: #FF8282; */
    background: linear-gradient(to bottom right, #f4c2c2, #fc5b5b);
    /* background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%); */
    border-radius: 50px;
  }
  .NowTime{
    font-size: 45px;
    font-weight: bold;
    color: white;
  }