 .sun {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
  }
  
  @keyframes moveSun {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(414px, 0);
    }
  }
  
  